---
layout: page
title: archive
description: "blogs archived by time"
---

<!-- https://gist.github.com/tuananh/7432553 -->

{% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
{% for yearMonth in postsByYearMonth %}
<h3>{{ yearMonth.name }} ({{ yearMonth.size }})</h3>
    <ul>
      {% for post in yearMonth.items %}
        {% assign day = post.date | date: '%b %d' %}
        <li><a href="{{ post.url }}">{{ post.title }} ({{ day }})</a></li>
      {% endfor %}
    </ul>
{% endfor %}

<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>

<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
    async("https://cdn.bootcss.com/anchor-js/1.1.1/anchor.min.js",function(){
        anchors.options = {
          visible: 'always',
          placement: 'right',
          /*icon: '¶'*/
        };
        anchors.add().remove('.intro-header h1').remove('.subheading');
    })
</script>

<style type="text/css">
.anchorjs-link {
    color: #FF5231
}
</style>

