<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <!-- kill the Facebook and Weibo -->
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">
                            <img src="/images/social/feed.png" class="hover_image"></img>
                        </a>
                    </li>


					<!--
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
					-->

                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}" target="_blank">
                            <img src="/images/social/github.png" class="hover_image"></img>
                        </a>
                    </li>
                    {% endif %}

                    <!--
                    {% if site.douban_username %}
                    <li>
                        <a href="http://www.douban.com/people/{{ site.douban_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-douban fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    -->

                    <!--
                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    -->

                    {% if site.zhihu_username %}
                    <li>
                        <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
                        </a>
                    </li>
                    {% endif %}

                    {% if site.linkedin_username %}
                    <li>
                        <a target="_blank" href="http://linkedin.com/in/{{ site.linkedin_username }}">
                            <img src="/images/social/linkedin.png" class="hover_image"></img>
                        </a>
                    </li>
                    {% endif %}

                </ul>
                <p class="copyright text-muted">
                &copy; 2011~{{ site.time | date: '%Y' }} {{ site.owner.name }} ♪ Powered by Jekyll.
                </p>
                <p>
                <br>
                <a href="https://www.easycounter.com/" target="_blank">
                    <span>
                    <img class="hover_image" src="https://www.easycounter.com/counter.php?dalajiyouxiang"
                         border="0" alt="stats counter" style="display:inline">
                    <i><font face="Arial" size="2">unique visitors since April 2019</font></i>
                    </span>
                </a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.js " | prepend: site.baseurl }}"></script>

<!-- mathjax -->
{% if page.include_math %}
<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\(','\)']]}});</script>
<script type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script-->
{% endif %}



<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan class='cnzz' id='cnzz_stat_icon_1276779737'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1276779737%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>

<link href="/css/style.css" rel="stylesheet">

<style>
/* https://github.com/Keyamoon/IcoMoon-Free*/
.hover_image{
cursor: default;
}
.hover_image:hover{
cursor: pointer;
}
.cnzz {
    display:none;
}
</style>
