---
layout: default
---

<!-- Post Header -->
<!-- background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}') -->
<style type="text/css">
    header.intro-header{
    }
</style>
<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
					<!-- turn off tags -->
                    <!--div class="Tags">
                        {% for tag in page.tags %}
                        <a class="tag" href="/Tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div-->
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">

                {{ content }}

                <hr>


                <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">CC A-S 4.0 International License</a>.

                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
                <!-- disqus thread
                <div id="disqus_thread"></div>
                -->
                <div id="comment-container"></div>
            </div>
        </div>
    </div>
</article>


<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>

<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
    async("https://cdn.bootcss.com/anchor-js/1.1.1/anchor.min.js",function(){
        anchors.options = {
          visible: 'always',
          placement: 'right',
          /*icon: '¶'*/
        };
        anchors.add().remove('.intro-header h1').remove('.subheading');
    })
</script>
<style>
    /* place left on bigger screen */

    @media all and (min-width: 800px) {
        .anchorjs-link{
            /*
            position: absolute;
            left: -0.75em;
            font-size: 1.1em;
            margin-top : -0.1em;
            */
            color: #ff5231;
        }
    }
    .anchorjs-link {
        color: #FF5231;
    }
</style>

<!-- discuss js -->

<!--
<script>
var dsqjs = new DisqusJS({
    shortname: 'SiteComment',
    siteName: 'CoolMind',
    identifier: "{{ page.title }}",
    url: "{{site.url}}/{{ page.url }}",
    title: "{{ page.title }}",
    api: "{{ site.url }}/disqus",
    apikey: 'FTdoSpJhWd0FSipHIjEsL4fy1wLcNj907qB8lhx9iSbDZrYJRtreZuqBIDTBLPtz',
    admin: 'chunyangwen',
    adminLabel: 'chunyangwen'
});
</script>
-->

<!-- gitment
<script>
    const gitment = new Gitment({
        id: '', // optional
        owner: 'chunyang-wen',
        repo: 'site-comment',
        oauth: {
            client_id: '592388ccabd0311d6866',
            client_secret: '48c6050bdc712fd4f2f3db89781e98ce967df107',
        },
    })
    gitment.render('comment-container')
// or
// gitment.render(document.getElementById('comments'))
// or
// document.body.appendChild(gitment.render())
</script>
-->

<script>
    const gitalk = new Gitalk({
        clientID: '592388ccabd0311d6866',
        clientSecret: '48c6050bdc712fd4f2f3db89781e98ce967df107',
        repo: 'site-comment',
        owner: 'chunyang-wen',
        admin: ['chunyang-wen'],
        id: location.pathname,      // Ensure uniqueness and length less than 50
        distractionFreeMode: false  // Facebook-like distraction free mode
    })
    gitalk.render('comment-container')
</script>
